$textGray: #696969;
$textBannerGray: #d6d5d5;
$white: #fff;
$bgGray: #353535;
$tekoFont: 'Teko', sans-serif;
$salmonColor: #f6744b;
$textDarkGray: #3d3d3d;
$textCard: #707070;
$bgLightGray: #ebebeb;
$textLightGray: #f6f6f6;
$blockbgBlack: #171f23;